@import url(https://fonts.googleapis.com/css?family=Roboto:300);

body, html{
    margin: 0;
    padding: 0;
    height:100%;
    
}
.container-fluid {
    font-family: "Roboto", serif;
    min-height: 100%;
    height:auto !important;
    height: 100%;
    }

.container-fluid1 {
    font-family: "Roboto", serif;
    height:auto !important; 
    }

.infHead {
    background-color:  #3a80a7 ;
    color: white;
    height: 60px;    
}

.imgHead {
    background-color:  #408eba;
    color: white;
    height: 60px;    
}

.rowsHead {
    padding: 0px 15px;
    text-align: center;
}

.rows {
    font-family: "Roboto", serif;
    text-align: center;
}

.inform {
    font-family: "Roboto", serif;
    background-color: #222d32;
    color: white;
}

input[type="file"] {
    font-family: "Roboto", serif;
    display: none;
}

.origImg {
    font-family: "Roboto", serif;
    background-color: #fdfefe;
}
.screenImg {
    font-family: "Roboto", serif;
    background-color: #fdfefe;
}

.buttonLogout {
    font-family: "Roboto", serif;
    background-color: #494d4e; 
    margin-top: 5px;
    border: none;
    color: white;
    padding: 4px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.buttonInf {
    font-family: "Roboto", serif;
    background-color: #494d4e; 
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}
.buttonImg {
    font-family: "Roboto", serif;
    margin: 5px;
    background-color: #1b2631;
    border: none;
    color: white;
    height:35px;
    width:35px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}